body{
	margin: 0;
	padding: 0;
	background-color: lightgray;
	font-family: "Segoe UI Semilight";
	font-size: 1em;
	min-height: 100%;
}


#body{
	min-height: 100%;
	width: 50vw;
	min-width: 960px;
	margin: 0 auto;

}

div#content{
	padding: 150px 0px 0 30px;
	width: 70%;
	min-height: 100%;
	margin: 0 auto; /*spremen u float right če bo sidebar*/
	font-size: 0.9em;
	background-color: white;
	height: 1080px;

}

p{
	margin: 0;
}

#sidebar{
	display: none;
	float: right;
	padding: 150px 0 0 0;
	min-height: 70vw;
	width: 25%;
	background-color: white;
	border-left: 1px solid lightgray;
	margin: 0;
}

#header a{
	margin: 0;
	padding: 0 0 5px 0;
	text-decoration-color: #fff;
					color: #fff;
					text-decoration: none;
					text-shadow: 0 0 2px black;
	transition: padding 0.2s, margin 0.2s;
	white-space: nowrap;
}
#header a:hover{
	margin: 0 -10px 0 -10px;
	padding: 0 10px 5px 10px;
	border-bottom: 1px solid white;
}

nav#header{
	width: 100%;
	height: 125px;
	background-color: #45507d;
	position: fixed;
	transition: height 0.5s;
}

nav#header div{
	margin: 0 auto;
	max-width: 960px;
}

p#title{
	font-size: 2em;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	color: white;
	transition: margin-top 0.5s;
}

ul, li{
	display: block;
	float: right;
	padding: 15px 15px 0 15px;	
	transition: margin-top 0.5s;
}

.well{
	margin-top: 20px;
}


.post-title{
	margin: 0 0 0 -13px;
	font-family: "Calibri Light";
	font-size: 1.75em;
	font-weight: 1;
	display: inline;	
}


.post-title a{
	text-decoration: none;
}
.post-title a:hover{
	text-decoration: underline;
}
.post-preview{
	height: 50px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 10px 20px 0px 20px;
    border-bottom: 1px solid lightgray;
	margin-left: -31px;
}

.post-body{
	font-family: "Arial";
	font-size: 0.9em;
	white-space:pre-wrap; 
	word-wrap:break-word;
	width: 90%;
	max-width: 560px;
}

form{
	padding-bottom: 50px;
	width: 90%;
	margin: 0 auto;
}

.card-header{
	font-size: 2.5em; 
	text-align: center;
	width: 75%;
	height: 50px;
	border: 2px solid #45507d;
	background-color: #45507d;
	color: white;
	margin: 0 auto;
	border-radius: 5px 5px 0 0;
}

form.login.register{
	border: 2px solid #45507d;
	text-align: center;
	width: 75%;

	padding-top: 40px;
	border-radius: 0 0 5px 5px;
}

form.login.register input.form-control{
	width: 75%;
	margin: 0 0 20px 0 ;
	height: 3em;
	padding-left: 20px;
	border-radius: 7px;
	border: 1px solid gray;
	font-family: Arial;
	font-size: 1em;
}

form.login.register input:focus{
	box-shadow: none;
}
.form-check{
	margin-top: -10px;
}
button.btn-primary, .btn-link{
	font-size: 1.2em;
	font-family: "Segoe UI Semilight";
	background-color: #45507d;
	border: none;
	margin: 20px;
	padding: 5px;
	text-decoration: none;
	color: white;
	height: 40px !important;
	width: 150px;
}

.btn-primary:hover, .btn-link:hover{
	cursor: pointer;

}

textarea{
	width: 100%;
	max-width: 100%;
	height: 150px;
	max-height: 300px;
	border: 1px solid gray;
	box-shadow: none;
	float: left;
	padding: 5px 0 0 5px;
	font-family: Arial;
	font-size: 0.9em;
}

input:focus{
	border: 1px solid blue;
	box-shadow: 0 0 2px blue;
}

input.btn{
	color: green;
	background-color: white;
	border-color: lightgreen;
	float: right;
	margin: 10px -5px 0 0;
	padding: 5px 20px 5px 20px;
	transition: padding 0.1s, margin 0.1s;
}

input.btn:hover[value = "submit"]{
	color: white;
	background-color: lightgreen;
	border-color: lightgreen;

}

.btn.delete{
	padding: 1px;
	content: 'x';
	height: 20px;
	width: 20px;
	border-radius: 100px;
	margin-top: -10px;
	float: right;
	color: gray;
	background-color: transparent;
	border: none;
}
.btn.delete:hover{
	background-color: red;
	color: white;
}

.form-delete{
	height: 0;
	padding: 0;
	margin: 0;
	width: 0;
	float: right;
}
input[name="title"]{
	font-size: 12pt;
	margin-bottom: 10px;
	border: 0;
	border-bottom: 1px solid gray;
}
input[name="title"]:focus{
	border: 0;
	box-shadow: none;
}
input[name="body"]{
	
}
.btn{
	text-decoration: none;
	padding: 3px 10px 3px 10px;
	border: 1px solid blue;
	float: left;
	margin: -10px 0 0 -15px;
	border-radius: 5px;
	transition: background-color 0.1s;
}

.btn:hover{
	color: white;
	background-color: blue;
}

#comments-label{
	color: gray;
	padding: 3px 3px 2px 3px;
	background-color: lightgray;
	border-radius: 0px 5px 0 0;
	margin-left: -31px;
}

div#comment-section{
	border-top: 1px solid lightgray;
	padding-top: 10px;
	width: 100%;
}

#comment-form{
	margin: 20px 0 0 0;
	min-width: 66%;
}
#comment-form textarea{
	border: 1px solid lightgray;
}
#comment-form textarea:focus{
	border: 1px solid blue;
	box-shadow: 0 0 2px blue;
}

.comment{
	font-size: 0.9em;
	padding: 0 15px 20px 15px;
	margin: 0 0 20px 0px;
	width: ;
}

.com-del{
	float: right;
}
.com-content{
	font-family: arial;
	margin-bottom: 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	width: 85%;
}
.com-usr-time{
	color: gray;
	margin-bottom: 10px;
}

.reply-btn{
	background-color: transparent;
	border-radius: 3px;
	border: none;
	color: blue;
	cursor: pointer;
	float: right;
	padding: 1px 5px 1px 5px;
	margin-top: -16px;
}
.reply-btn:hover{
	text-decoration: underline;
}
.replyToggle form textarea{
	height: 50px;
	width: 75%;
	float: left;
}
.replyToggle, .replyToggle form{
	width: 500px;
}
.replyToggle form input{
	float: right;
	margin: 0;
}

.reply{
	border-left: 2px solid blue;
	padding: 1px 1px 1px 3px;
	margin: 5px 0 0 33px;
	color: #333;
	display: block;
	word-wrap: break-word;
    max-width: 40em;
    background-color: #f0f0f0;
}

.rating-num{
	font-family: consolas;
	font-size: 15pt;
	margin: 20px 20px 0 0;
}

.rating-num, .rate-up{
	float: left;
}

.rate-up{
	text-decoration: none;
	margin: 0 3px 0 0;
	background: url('./res/up.png') no-repeat transparent;
}


/*this overwrites some of the above CSS 
 *so it should be left at the bottom
 */
@media(max-width: 800px){
	#body{
		min-height: 100%;
		min-width: 99%;
		margin-left: 20px;
	}
	div#content{
		padding: 150px 0px 0 30px;
		width: 100%;
		min-height: 100%;
		float: right;
	}
	div#sidebar{
		display: none;
	}

	.post-body{
		min-width: 90%;
	}
}

.scrolled{
	height: 50px !important;
}